@use "../variables.scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s linear;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 100%;

  @media (max-width: 576px) {
    font-size: 80%;
  }
}

button,
i {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

label {
  text-transform: capitalize;

  @media (max-width: 576px) {
    font-size: 0.9rem;
  }
}

input {
  border: 1px solid $primaryColor;
  padding: 1rem;

  @media (max-width: 576px) {
    padding: 1rem;
    padding: 0.5rem;
  }
}

.container {
  width: 80%;
  margin: auto;
}