@use "../variables.scss" as *;
@use "../mixins.scss" as *;

.login__view {
  position: relative;
  @include flex(center, center, column);

  .register__view-btn {
    @include position(fixed, 30px, 30px);
    @include btn($secondaryColor);
  }

  .login__data {
    height: 100vh;
    padding: 3rem;
    @include flex(center, stretch, column);

    i {
      color: $primaryColor;
      font-size: 5rem;

      @media (max-width: 576px) {
        font-size: 3rem;
      }
    }

    h3 {
      font-size: 2.5rem;
      margin: 1rem 0;

      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

    .login__form {
      @include flex(flex-start, stretch, column, nowrap, 1rem);
      width: 300px;

      a {
        text-transform: uppercase;
        text-decoration: underline;
        color: $primaryColor;
        font-size: 0.9rem;
      }

      .login__error-msg {
        color: red
      }

      button {
        @include btn($primaryColor);
      }
    }
  }
}