@use "../variables.scss" as *;
@use "../mixins.scss" as *;

.register__view {
  @include position(absolute, 50%, 50%, auto, auto, 500px);
  border: 2px solid #ddd;
  display: none;

  @media (max-width: 576px) {
    width: 280px;
  }

  .register__header {
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 1.5rem;

    h3 {
      font-size: 1.5rem;

      @media (max-width: 576px) {
        font-size: 1rem;
      }
    }
  }

  .register__form {
    padding: 1.5rem;
    @include flex(flex-start, stretch, column, nowrap, 1rem);

    @media (max-width: 576px) {
      padding: 1rem;
    }

    .register__error-msg {
      color: red;
    }

    button {
      @include btn($primaryColor);
    }
  }
}