@use "../../variables.scss" as *;
@use "../../mixins.scss" as *;

.admin__view {
  display: flex;
  height: 100vh;
  display: none;

  .admin__header {
    padding: 1rem;
    flex: 1;
    color: white;
    background: linear-gradient(rgba(255, 215, 0, 0.7), rgba(255, 215, 0, 0.7)), url('/assets/img/admin.jpg');

    @media(max-width:992px) {
      display: none;
    }

    input {
      margin: 2rem 0;
      border: none;
      padding: 0.8rem;
    }

    .admin__btns {
      @include flex(flex-start, stretch, column, nowrap, 1rem);

      button {
        text-align: left;
        @include btn($primaryColor);
      }
    }
  }

  main {
    flex: 6;
    background-color: #f7f7f8;
    height: 100%;

    h4 {
      font-size: 1.5rem;
      background-color: white;
      padding: 1rem;

      @media (max-width: 576px) {
        font-size: 1rem;
      }
    }

    .accounts__list {
      overflow-x: auto;

      .accounts__table {
        background-color: white;
        width: 95%;
        margin: 1.5rem auto;

        th,
        td {
          border: 1px solid #ddd;
          padding: 1rem;
        }

        tr {
          &:nth-child(even) {
            background-color: #dddddd;
          }
        }
      }
    }
  }

}