@use "../../variables.scss" as *;
@use "../../mixins.scss" as *;

.admin__view {
  // display: none;

  .admin__header {
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 3rem;
    margin-bottom: 2rem;
    @include flex(space-between, stretch, row, nowrap, 1rem);

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    h3 {
      font-size: 2rem;

      @media (max-width: 576px) {
        font-size: 1.4rem;
      }
    }

    .admin__search {
      padding: 0.7rem;
      text-transform: uppercase;
    }

    .logout__btn {
      @include btn($secondaryColor);
    }
  }

  .admin__btns {
    @include flex();
    gap: 1rem;

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: flex-start;
    }

    button {
      @include btn($secondaryColor);
    }
  }
}