@use "../../variables.scss" as *;
@use "../../mixins.scss" as *;

.forgot__view {
    @include position(absolute, 50%, 50%, auto, auto, 500px);
    display: none;
    border: 2px solid #ddd;

    @media (max-width: 576px) {
        width: 280px;
    }

    .forgot__header {
        background-color: $primaryColor;
        color: $secondaryColor;
        padding: 1.5rem;

        h3 {
            font-size: 1.5rem;

            @media (max-width: 576px) {
                font-size: 1rem;
            }
        }
    }

    form {
        padding: 1.5rem;
        @include flex(flex-start, stretch, column, nowrap, 1rem);

        @media (max-width: 576px) {
            padding: 1rem;
        }

        button {
            @include btn($primaryColor);
        }

        .error__msg {
            color: red;
        }
    }

}