* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s linear;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 100%;
}
@media (max-width: 576px) {
  body {
    font-size: 80%;
  }
}

button,
i {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

label {
  text-transform: capitalize;
}
@media (max-width: 576px) {
  label {
    font-size: 0.9rem;
  }
}

input {
  border: 1px solid #000;
  padding: 1rem;
}
@media (max-width: 576px) {
  input {
    padding: 1rem;
    padding: 0.5rem;
  }
}

.container {
  width: 80%;
  margin: auto;
}

.register__view {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: auto;
  left: auto;
  width: 500px;
  height: auto;
  transform: translate(50%, -50%);
  border: 2px solid #ddd;
  display: none;
}
@media (max-width: 576px) {
  .register__view {
    width: 280px;
  }
}
.register__view .register__header {
  background-color: #000;
  color: gold;
  padding: 1.5rem;
}
.register__view .register__header h3 {
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .register__view .register__header h3 {
    font-size: 1rem;
  }
}
.register__view .register__form {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
@media (max-width: 576px) {
  .register__view .register__form {
    padding: 1rem;
  }
}
.register__view .register__form .register__error-msg {
  color: red;
}
.register__view .register__form button {
  padding: 1rem;
  background-color: #000;
  text-transform: uppercase;
  color: gold;
}
.register__view .register__form button:hover {
  background-color: gold;
  color: #000;
}
@media (max-width: 576px) {
  .register__view .register__form button {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}

.login__view {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}
.login__view .register__view-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  padding: 1rem;
  background-color: gold;
  text-transform: uppercase;
  color: #000;
}
.login__view .register__view-btn:hover {
  background-color: #000;
  color: gold;
}
@media (max-width: 576px) {
  .login__view .register__view-btn {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}
.login__view .login__data {
  height: 100vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}
.login__view .login__data i {
  color: #000;
  font-size: 5rem;
}
@media (max-width: 576px) {
  .login__view .login__data i {
    font-size: 3rem;
  }
}
.login__view .login__data h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
@media (max-width: 576px) {
  .login__view .login__data h3 {
    font-size: 2rem;
  }
}
.login__view .login__data .login__form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 300px;
}
.login__view .login__data .login__form a {
  text-transform: uppercase;
  text-decoration: underline;
  color: #000;
  font-size: 0.9rem;
}
.login__view .login__data .login__form .login__error-msg {
  color: red;
}
.login__view .login__data .login__form button {
  padding: 1rem;
  background-color: #000;
  text-transform: uppercase;
  color: gold;
}
.login__view .login__data .login__form button:hover {
  background-color: gold;
  color: #000;
}
@media (max-width: 576px) {
  .login__view .login__data .login__form button {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}
.login__view .login__modal {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  color: gold;
  display: none;
}
.login__view .login__modal h3 {
  font-size: 2rem;
}
@media (max-width: 576px) {
  .login__view .login__modal h3 {
    font-size: 1.5rem;
  }
}
.login__view .login__modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: gold;
}

.admin__view {
  display: flex;
}
.admin__view .admin__header {
  padding: 1rem;
  flex: 1;
  color: white;
  background: linear-gradient(rgba(255, 215, 0, 0.7), rgba(255, 215, 0, 0.7)), url("/assets/img/admin.jpg");
}
@media (max-width: 992px) {
  .admin__view .admin__header {
    display: none;
  }
}
.admin__view .admin__header input {
  margin: 2rem 0;
  border: none;
  padding: 0.8rem;
}
.admin__view .admin__header .admin__btns {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
.admin__view .admin__header .admin__btns button {
  text-align: left;
  padding: 1rem;
  background-color: #000;
  text-transform: uppercase;
  color: gold;
}
.admin__view .admin__header .admin__btns button:hover {
  background-color: gold;
  color: #000;
}
@media (max-width: 576px) {
  .admin__view .admin__header .admin__btns button {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}
.admin__view main {
  flex: 6;
  background-color: #f7f7f8;
}
.admin__view main .accounts__list {
  overflow-x: auto;
}
.admin__view main .accounts__list h4 {
  font-size: 1.5rem;
  background-color: white;
  padding: 1rem;
}
@media (max-width: 576px) {
  .admin__view main .accounts__list h4 {
    font-size: 1rem;
  }
}
.admin__view main .accounts__list .accounts__table {
  background-color: white;
  width: 95%;
  margin: 1.5rem auto;
}
.admin__view main .accounts__list .accounts__table th,
.admin__view main .accounts__list .accounts__table td {
  border: 1px solid #ddd;
  padding: 1rem;
}
.admin__view main .accounts__list .accounts__table tr:nth-child(even) {
  background-color: #dddddd;
}

.create__account__view {
  display: none;
}
.create__account__view h4 {
  font-size: 1.5rem;
  background-color: white;
  padding: 1rem;
}
@media (max-width: 576px) {
  .create__account__view h4 {
    font-size: 1rem;
  }
}
.create__account__view .create__inputs {
  width: 95%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
.create__account__view .create__inputs .error__msg {
  color: red;
}
.create__account__view .create__inputs button {
  padding: 1rem;
  background-color: gold;
  text-transform: uppercase;
  color: #000;
  align-self: flex-start;
}
.create__account__view .create__inputs button:hover {
  background-color: #000;
  color: gold;
}
@media (max-width: 576px) {
  .create__account__view .create__inputs button {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}

.update__account__view {
  margin-top: 2rem;
  display: none;
}
.update__account__view h4 {
  font-size: 1.7rem;
}
@media (max-width: 576px) {
  .update__account__view h4 {
    font-size: 1rem;
  }
}
.update__account__view .update__table {
  width: 100%;
  text-align: left;
  margin-top: 1rem;
  border-collapse: collapse;
}
@media (max-width: 576px) {
  .update__account__view .update__table {
    width: 50%;
  }
}
.update__account__view .update__table th,
.update__account__view .update__table td {
  border: 1px solid #ddd;
  padding: 1rem;
}
.update__account__view .update__table tr:nth-child(even) {
  background-color: #dddddd;
}
.update__account__view .update__table .update__account,
.update__account__view .update__table .delete__account {
  padding: 1rem;
  background-color: gold;
  text-transform: uppercase;
  color: #000;
}
.update__account__view .update__table .update__account:hover,
.update__account__view .update__table .delete__account:hover {
  background-color: #000;
  color: gold;
}
@media (max-width: 576px) {
  .update__account__view .update__table .update__account,
  .update__account__view .update__table .delete__account {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}

.update__form__view {
  display: none;
  margin-top: 2rem;
}
.update__form__view h4 {
  font-size: 1.7rem;
}
@media (max-width: 576px) {
  .update__form__view h4 {
    font-size: 1rem;
  }
}
.update__form__view .update__inputs {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
.update__form__view .update__inputs input {
  border: 1px solid #000;
  padding: 1rem;
  font-size: 1.1rem;
}
@media (max-width: 576px) {
  .update__form__view .update__inputs input {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}
.update__form__view .update__inputs button {
  padding: 1rem;
  background-color: gold;
  text-transform: uppercase;
  color: #000;
  align-self: flex-start;
}
.update__form__view .update__inputs button:hover {
  background-color: #000;
  color: gold;
}
@media (max-width: 576px) {
  .update__form__view .update__inputs button {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}

/*-------------------------
PARTIALS
--------------------------*/

/*# sourceMappingURL=style.css.map */
